<% layout('layouts/boilerplate')%>

<section class="pokemonbanner" style="background-position: right top; background-image: url('https://res.cloudinary.com/unowntcg/image/upload/v1612300725/UnownTCG/pokemonbanner_lhugub.jpg');"
>
	<div id="hero" class="shopify-section index-section index-section--flush">
		<div data-section-id="hero-1" data-section-type="hero-section">
			<div class="hero hero--small hero-hero-1 hero__overlay box ratio-container js lazyloaded" id="Hero-hero-1" data-layout="full_width" data-parent-fit="cover" alt="" src="">
				<div class="hero__inner">
					<div class="page-width-top text-center">
						<div class='text-centering-opening'>
							<h2 class="h1 mega-title mega-title--large">Pokémon Unown Center</h2>
							<div class="rte-setting mega-subtitle mega-subtitle--large">
								<p>Entering the World of Pokémon</p>
							</div>
							<a href="/products" class="btn hero__btn" aria-label="Products: Catalog">Products</a>
						</div>
					</div>
				</div>
				<picture style="display: none;">
					<source data-srcset="" sizes="1898px" srcset="">
					<img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1898px">
				</picture>
			</div>
		</div>
	</div>
</section>

<section class="products">
	<div id="cluster-map"></div>
	<div class="container">
		<h1>Featured Products</h1>
		<% for (let product of products) { %>
		<div class="card mb-3">
			<div class="row">
				<div class="col-md-4">
					<% if(product.images.length) { %>
					<img class="img-fluid" alt="" src="<%=product.images[0].url%>">
					<% } else { %>
					<img class="img-fluid" alt=""
						src="https://res.cloudinary.com/unowntcg/image/upload/v1611691542/UnownTCG/rt1gqzcl8tuvcozpyezc.png"
						 >
					<% } %>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><%= product.title %> </h5>
						<p class="card-text"><%= product.description %></p>
						<a class="btn btn-primary" href="/products/<%=product._id%>">View More Details</a>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</section>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const products = { features: <%- JSON.stringify(products) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>